# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Images
*.ppm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text files
*.txt

*.mp4
*.mp3

# Compiled python files
*.pyc


# Data files
*.csv
*.json

# Intellij stuff
**/.idea/
**/cmake-build-debug/*
*.db

# OOP
oop/asg8-9/*.html

# AI & Jupyter
**/labs
**/.ipynb_checkpoints

# Static files
*.jpg
*.png
*/dataset

# Visual Studio
**/.vs/
**/bin/
**/obj/

**/.gradle
**/gradle
**/build
*.gradle
**/gradlew*

**/Files

*.jar
*.cmd
*.xml
*mvnw

*data

**/venv