body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40%;
  height: 70%;
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  background-color: white;
  opacity: 0.5;
}

.square {
  height: 10%;
  width: 10%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rectangle {
  height: 10%;
  width: 20%;
}

.link-wrapper:hover {
  cursor: pointer;
}

.link-wrapper > a {
  height: 100%;
  width: 100%
}

a {
  background-color: red;
}

.rectangle:before{
    content: "";
    display: block;
    padding-top: 25%;
}

#link-container > * {
  margin: 0.6rem;
}


.button-container {
  height: 20%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button-container > button {
  margin: 2rem;
  height: 40%;
  width: 30%;
  background-color: transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
}

#link-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
