<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Clients</a>
    <ng-template ngbNavContent>
      <app-client-container></app-client-container>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Movies</a>
    <ng-template ngbNavContent>
      <app-movie-container></app-movie-container>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Rentals</a>
    <ng-template ngbNavContent>
      <app-rental-container></app-rental-container>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Reporting</a>
    <ng-template ngbNavContent>
      <app-reporting-container></app-reporting-container>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
