<app-movie-form [newMovieEmitter]="newMovieEmitter"></app-movie-form>
<app-multi-filter
  [headerText]="'Filter movies'"
  [attributes]="['title', 'year', 'genre']"
  [operators]="{title: ['CONTAINS', 'NEQ', 'EQ'], year: ['==', '!=', '>', '<'], genre: ['CONTAINS', 'NEQ', 'EQ']}"
  [filterOutput]="movieFilterEmitter">
</app-multi-filter>
<app-sort
  [headerText]="'Sort movies'"
  [attributes]="['title', 'year', 'genre']"
  [entitySortEmitter]="movieSortEmitter">
</app-sort>
<app-movie-card-list
  [newMovieEmitter]="newMovieEmitter"
  [editMovieOpenModalEmitter]="editMovieOpenModalEmitter"
  [movieFilterEmitter]="movieFilterEmitter"
  [movieSortEmitter]="movieSortEmitter">
</app-movie-card-list>
<app-movie-edit-modal [editMovieOpenModalEmitter]="editMovieOpenModalEmitter"></app-movie-edit-modal>
