<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab1_2.Properties.Settings.ridesharingConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=ridesharing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="scenario_one_master_table" value="Users"/>
      <add key="scenario_one_slave_table" value="Vehicles"/>
      <add key="scenario_two_master_table" value="Restaurants"/>
      <add key="scenario_two_slave_table" value="Menus"/>
      <add key="scenario" value="1"/>
    </appSettings>
</configuration>