<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab1_2.Properties.Settings.ridesharingConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=ridesharing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="scenario" value="2"/>
      <add key="connection" value="Server=DESKTOP-R4AMR8A\\SQLEXPRESS;Database=ridesharing;Trusted_Connection=True"/>
      
      <add key="scenario_one_master_table" value="Users"/>
      <add key="scenario_two_master_table" value="Restaurants"/>
      
      <add key="scenario_one_slave_table" value="Vehicles"/>
      <add key="scenario_two_slave_table" value="Menus"/>
      
      <add key="scenario_one_param_name" value="@UserId"/>
      <add key="scenario_two_param_name" value="@RestaurantId"/>
      
      <add key="scenario_one_query" value="SELECT * FROM Vehicles WHERE UserId=@UserId"/>
      <add key="scenario_two_query" value="SELECT * FROM Menus WHERE RestaurantId=@RestaurantId"/>
    </appSettings>
</configuration>